<?xml version="1.0" encoding="utf-8"?>
<Media Key="13e63ebb-2f82-4e65-84f0-e3b79241a971" Alias="audience-at-event" Level="2">
  <Info>
    <Parent Key="3fd6b481-f828-4949-a559-75d83dc3670e">conference-events</Parent>
    <Path>/conferenceEvents/audienceAtEvent</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-08T18:10:00</CreateDate>
    <NodeName Default="audience-at-event" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[A group of people seated at an event, with one woman smiling at the camera.]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gt0kbjpl/say-cheese.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>